@charset "utf-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.Fredoka {
    font-family: 'Fredoka One', cursive, sans-serif;
}

.font-Binggrae {
    font-family: 'Binggrae-Bold', sans-serif;
}

.font-AggroB {
    font-family: 'SBAggroB', sans-serif;
}

.font-AggroM {
    font-family: 'SBAggroM', sans-serif;
}

.font-AggroL {
    font-family: 'SBAggroL', sans-serif;
}

.font-SpoqaL {
    font-family: 'SpoqaHanSansNeo-Light', sans-serif;
}

.font-SpoqaR {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.font-SpoqaB {
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
}

html {
    font-size:10px;
}

.font-size-body1 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.font-size-body2 {
    font-size: 1.6rem;
}

.font-size-body3 {
    font-size: 3rem;
}

.font-size-header1 {
    font-size: 3rem;
}

.font-size-header2 {
    font-size: 2rem;
}

.font-size-small {
    font-size: 1rem;
}

.font-size-big {
    font-size: 5.6rem;
    line-height: 6.4rem;
}

.color-black {
    color: #1B1B1B;
}

.color-white {
    color: white;
}

.color-gray1 {
    color: #BDBDBD;
}

.color-primary {
    color: #F43B00;
}

.border1 {
    border-bottom: 1px solid;
    padding-bottom: 2px;
}


/* 메뉴 */
.nav {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: white;
    border-bottom: 2px solid #F43B00;
}

.nav__detail {
    width: 100%;
    height: 100%;
}

.nav__detail > h2 {
    line-height: 50px;
}

.nav__detail > h2 img {
    max-width: 116px;
    display: block;
    
}

/* 모바일 메뉴버튼 */

/* body {
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 20px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #1B1B1B;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &:before {
            top: -10px;
            visibility: visible;
        }
        &:after {
            top: 10px;
        }
        &:before, &:after {
            height: 4px;
            width: 35px;
            border-radius: 2px;
            background-color: #1B1B1B;
            position: absolute;
            content: "";
            transition: all .2s ease-in-out;
        }
    }
    &:hover span, &:hover span:before, &:hover span:after {
        background: #F43B00;
    }
}

input[type=checkbox] {
    display: none;
    
    &:checked ~ #overlay {
        visibility: visible;
    }
    
    &:checked ~ #overlay-button {
        &:hover span, span{
            background: transparent;
        }
    span {
        &:before {
            transform: rotate(45deg) translate(7px, 7px);
            opacity: 1;
        }
        &:after {
            transform: rotate(-45deg) translate(7px, -7px);
            }
        }
    }
}

.menu {
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 2;
    visibility: hidden;
    &.active {
        visibility: visible;
    } */





/* 푸터 */
.footer {
    width: 100%;
    height: 780px;
    background: #1B1B1B;
}

.footer > h3 {
    text-align: center;
}

.footer > h3 img {
    padding-top: 70px;
    max-width: calc(100% - 40px);
}

.footer__level1 {
    display: block;
    padding-bottom: 20px;
}

.footer__level1 > ul.sitemap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 20px;
}

.footer__level1 > ul.sitemap p {
    margin-bottom: 16px;
    margin-top: 30px;
    display: inline-block;
}

.footer__level1 ul.sitemap__list > li {
    padding: 8px 0;
}

.footer__level2 {
    display: flex;
    justify-content: center;
}

.footer__level2 > .copyright {
    border-top: 1px solid white;
    width: calc(100% - 40px);
}

.footer__level2 > .copyright > p {
    padding-top: 14px;
    text-align: center;
}



/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {
    .font-size-body1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .font-size-body2 {
        font-size: 2rem;
    }

    .font-size-body3{
        font-size: 1.8rem;
    }

    .font-size-header1 {
        font-size: 3.6rem;
    }

    .font-size-small {
        font-size: 1.4rem;
    }

    .font-size-big {
        font-size: 9.6rem;
        line-height: 11rem;
    }

    /* 푸터 */
    .footer {
        height: 780px;
    }

    .footer > h3 img {
        padding-top: 80px;
        max-width: calc(100% - 240px);
    }

    .footer__level1 {
        display: block;
        padding-bottom: 50px;
    }
    
    .footer__level1 > ul.sitemap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 820px;
        margin: 0 auto;
        padding-top: 98px;
        padding-left: 0;
    }

    .footer__level1 > ul.sitemap > li {
        width: 33.33%;
        padding-right: 24px;
    }

    .footer__level1 > ul.sitemap > li:last-child {
        padding-right: 0;
    }


    .footer__level1 > ul.sitemap p {
        margin-bottom: 24px;
        display: inline-block;
    }

	.footer__level1 ul.sitemap__list > li {
        padding: 10px 0;
    }

    .footer__level2 {
        display: flex;
        justify-content: center;
    }

    .footer__level2 > .copyright {
        border-top: 1px solid white;
        width: calc(100% - 140px);
    }

    .footer__level2 > .copyright > p {
        padding-top: 20px;
        text-align: center;
    }
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {

    /* 메뉴 */
    .nav {
        position: sticky;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 44px;
        background: white;
        border-bottom: 2px solid #F43B00;
    }

    .nav__detail {
        margin: 0 auto;
        max-width: calc(100% - 240px);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__detail > .trigger {
        display: none;
    }

    .nav__detail > h2 {
        line-height: 44px;
        width: 145px;
    }

    .nav__detail > h2 img {
        max-width: 145px;
        display: block;
    }

    .nav .main__list a {
        transition: all 20ms ease-in-out;
    } 
    
    .nav__detail > .menu {
        display: flex;
        justify-content: space-between;
    }
    
    .nav .menu__main .main__list {
        float: left;
        position: relative;
    }

    .nav .menu__main .main__list a {
        display: block;
        line-height: 44px;
        padding: 0 55px 0 10px;
    }
    
    .nav .menu__main .main__list .list__drop > li a {
        padding-right: 0;
    }

    .nav .menu__main .main__list a::hover {
        content: '';
        display: block;
        width: 0px;
        height: 1px;
        margin-left: 5px;
        margin-top: -1px;
        background: #000;
        transition: all .3s;
    }

    .nav .menu__main .main__list a:hover::after {
        width: 200%;
        transition: all .3s;
    }

    .nav .menu__main .main__list a:hover {
        color:#F43B00;
        transition: 400ms;
    }

    .nav .menu__main .list__drop {
        width: 100%;
        position: absolute;
        background-color: #fff;
        overflow: hidden;
        max-height: 0px;
        transition: 0.5s;
        border-top: 2px solid #F43B00;
    }

    .nav .menu__main .main__list:hover .list__drop {
        max-height: 200px;
        display: block;
        box-shadow: 2px 2px 2px rgb(27, 27, 27, 0.2);
    }

    .nav .menu__main .list__drop a:hover {
        background-color: #F43B00;
        color: white;
        transition: 150ms;
    }

    /* 푸터 */
    .footer {
        height: 970px;
    }

    .footer__level2 > .copyright {
        width: calc(100% - 240px);
    }
}