@charset "utf-8";
.pc-only {
    display: none;
}

.main__banner {
    width: 100%;
    height: 665px;
    background: url(../img/main/mobile/m_main_bg\ copy.png);
    background-size: cover;
    background-position: center;
}

.main__banner > h1 {
    text-align: center;
}

.main__banner > h1 img {
    padding-top: 160px;
    max-width: calc(100% - 40px);
}

/* 1번째 섹션 */

.grid5 {
    grid-row: 2;
    grid-column: 1 / span 6;
}

.grid5 ul {
    display: flex;
    flex-direction: row;
}

.event__btn {
    border: 0;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid;
    text-align: left;
}

.event__image {
    max-width: 100%;
}

.event__caption {
    padding-top: 20px;
    padding-left: 4px;
}

/* 슬라이드 */

.swiper-pagination {
    text-align: left !important;
    left: 10px !important;
    top: 10px !important;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: transparent;
    border: 1px solid #F43B00;
    opacity: 1;
}

.swiper-pagination > .swiper-pagination-bullet-active {
    width: 30px;
    transition: width 0.8s;
    border-radius: 10px;
    background: #F43B00;
    border: 1px solid transparent;
}


/* 2,3번째 섹션 */
.container {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    border-bottom: 2px solid #F43B00;
    padding-top: 60px;
    padding-bottom: 60px;
}

.grid1 {
    grid-row: 1;
    grid-column: 1;
}

.grid2 {
    display: none;
}

.grid3 {
    grid-row: 2;
    grid-column: 1 / span 6;
}

.grid3 i {
    vertical-align: middle;
}

.grid4 {
    grid-row: 3;
    grid-column: 1 / span 6;
}

.grid__txt1 {
    padding-top: 20px;
}

.grid__txt2 {
    padding-top: 8px;
    margin-bottom: 60px;
}

.season__list li:last-child .grid__txt2 {
    margin-bottom: 0;
}

.signature__list li:last-child .grid__txt2 {
    margin-bottom: 0;
}

.signature__list {
    display: flex;
    flex-direction: column;
}

.signature__list li a img {
    width: 100%;
}

.season__list {
    display: flex;
    flex-direction: column;
}
.image-box img {
    width: 100%;
}


/* 4번째 섹션 */
.slogan {
    max-width: calc(100% - 40px);
    height: 632px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.slogan div p {
    text-align: center;
}

.slogan div p:first-child {
    padding: 60px 0 10px 0;
}

.slogan div p:nth-child(2) {
    padding: 10px 0 40px 0;
}

.slogan div img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}


/* 테블릿: 767px 이상*/
@media all and (min-width:767px) {

    .mobile-only {
        display: none !important;
    }

    .pc-only {
        display: block;
    }


    .main__banner {
        width: 100%; 
        height: 923px;
        background: url(../img/main/desktop/main-bg.png);
        background-size: cover;
        background-position: center;
    }
    
    .main__banner > h1 img {
        padding-top: 80px;
        max-width: calc(100% - 240px);
    }

    /* 1번째 섹션 */

    .event__btn {
        border: 0;
        border-radius: 0;
        background: transparent;
        border-bottom: 1px solid;
        margin-bottom: 12px;
        text-align: left;
    }

    /* 슬라이드 */

    .swiper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .swiper-wrapper {
        margin-bottom: 4em;
    }

    .swiper-slide {
        width: 66% !important;
    }

    /* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    .swiper-pagination {
        text-align: left !important;
        left: 16px !important;
        top: 16px !important;
    }

    .swiper-pagination > .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: transparent;
        border: 1px solid #F43B00;
        opacity: 1;
    }

    .swiper-pagination > .swiper-pagination-bullet-active {
        width: 50px;
        transition: width 0.8s;
        border-radius: 10px;
        background: #F43B00;
        border: 1px solid transparent;
    }

    .event__slide {
        display: flex;
        flex-direction: column;
    }

    .event__image {
        align-self: center;
        display: block;
        height: auto;
        width: 100%;
    }

    .event__caption.event__caption {
        text-align: left;
        padding-top: 10px;
        padding-left: 4px;
    }


    /* 2,3번째 섹션 */
    .container {
        max-width: calc(100% - 240px);
        max-height: 970px;
        margin: 0 auto;
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(12, minmax(0px, 1fr));
        border-bottom: 2px solid #F43B00;
        padding-top: 60px;
        padding-bottom: 4%;
    }
    
    .grid1 {
        grid-row: 1;
        grid-column: 1 / span 9;
    }

    .grid2 {
        display: block;
        grid-row: 1;
        grid-column: 4 / span 9;
    }
    
    .grid3 {
        grid-row: 2;
        grid-column: 4 / span 9;
        margin-bottom: 4%;
    }

    .grid3 i {
        vertical-align: middle;
    }

    .grid4 {
        grid-row: 3;
        grid-column: 4 / span 9;
    }

    .grid5 {
        grid-row: 3;
        grid-column: 1 / span 2;
    }

    .grid5 ul {
        display: flex;
        flex-direction: column;
    }

    .grid__txt1 {
        padding-top: 20px;
    }

    .grid__txt2 {
        padding-top: 8px;
    }

    .signature__list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .season__list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .season__list li {
        width: 33.33%;
    }

    .signature__list li {
        width: 33.33%;
    }

    .image-box {
        width: 100%;
        overflow: hidden;
    }
    
    .image {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    .image:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    /* 4번째 섹션 */
    .slogan {
        max-width: 1680px;
        height: 970px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .slogan div p {
        text-align: center;
    }

    .slogan div p:first-child {
        padding: 60px 0 15px 0;
    }
    
    .slogan div p:nth-child(2) {
        padding: 15px 0 90px 0;
    }

    .slogan div img {
        display: block;
        margin: 0 auto;
        max-width: 828px;
    }

}

/* pc: 1024px 이상 */
@media all and (min-width:1024px) {
    
}